@import "frappe/public/scss/variables";

.website-list .result {
	margin-top: 2rem;
}

.transaction-list-item {
	padding: 1rem 0;
	border-top: 1px solid $border-color;
	position: relative;

	a.transaction-item-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-decoration: none;
		opacity: 0;
		overflow: hidden;
		text-indent: -9999px;
		z-index: 0;
	}
}
